:root {
  --Red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: rgb(230, 224, 224);
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.head {
  padding: 50px;
  text-align: center;
}

.head span {
  display: block;
}

.head span:first-of-type {
  font-weight: 200;
  font-size: 2rem;
}

.head span:nth-child(2) {
  font-weight: 600;
  font-size: 3rem;
}

.head span:last-child {
  font-weight: 100;
  font-size: -2rem;
}

.row {
  display: flex;
  gap: 50px;

  align-items: center;
}

/* Supervisor box  */
.supervisor {
  border-top: 2px solid green;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.supervisor span {
  font-weight: 600;
}

.supervisor p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* Calculator box  */

.calculator {
  border-top: 2px solid blue;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

.calculator span {
  font-weight: 600;
}

.calculator p {
  font-weight: 200;
  font-size: 0.8rem;
}
.column {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

/* Team builder box  */

.team-builder {
  border-top: 2px solid red;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
}

.team-builder img {
  position: relative;
  left: 70%;
  top: 20%;
}

.team-builder span {
  font-weight: 600;
}

.team-builder p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* Karma box  */
.karma {
  border-top: 2px solid orange;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

.karma span {
  font-weight: 600;
}

.karma p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* .karma img {
  position: relative;
  left: 10%;
  top: 20%;
} */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
