:root {
  --Red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-lioght-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: rgb(230, 224, 224);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--very-lioght-gray);
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.head {
  padding: 50px;
  text-align: center;
}

.head span {
  display: block;
}

.head span:first-of-type {
  font-weight: 200;
  font-size: 2rem;
}

.head span:nth-child(2) {
  font-weight: 600;
  font-size: 3rem;
  color: var(--very-dark-blue);
}

.head span:last-child {
  font-weight: 100;
  font-size: -2rem;
}

.row {
  display: flex;
  gap: 50px;

  align-items: center;
}

/* Supervisor box  */
.supervisor {
  border-top: 4px solid green;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  -moz-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  box-shadow: 0px 40px 32px -24px var(--grayish-blue);
}

.supervisor img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.supervisor span {
  font-weight: 600;
}

.supervisor p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* Calculator box  */

.calculator {
  border-top: 4px solid blue;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  -moz-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  box-shadow: 0px 40px 32px -24px var(--grayish-blue);
}

.calculator img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.calculator span {
  font-weight: 600;
}

.calculator p {
  font-weight: 200;
  font-size: 0.8rem;
}
.column {
  display: flex;
  flex-flow: column;
  gap: 40px;
}

/* Team builder box  */

.team-builder {
  border-top: 4px solid red;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  -moz-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  box-shadow: 0px 40px 32px -24px var(--grayish-blue);
}

.team-builder img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.team-builder span {
  font-weight: 600;
}

.team-builder p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* Karma box  */
.karma {
  border-top: 4px solid orange;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  -moz-box-shadow: 0px 40px 32px -24px rgba(115, 118, 125, 1);
  box-shadow: 0px 40px 32px -24px var(--grayish-blue);
}
.karma img {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.karma span {
  font-weight: 600;
}

.karma p {
  font-weight: 200;
  font-size: 0.8rem;
}

/* .karma img {
  position: relative;
  left: 10%;
  top: 20%;
} */

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
